*.class
*.jar
*.classpath
*.project
*.zip
target/
bin/
.settings/
logs/
*.log
.metadata/**
.springBeans
style.css
style.css.map
.springBeans
style.css
style.css.map
*.iml
*.eml
*.DS_Store
*.idea
*.zip
*.index
*.xml
*.resources
.metadata\**
*.png
*.frq
*.fdx
*.prx
*.tis
*.lock
.recommenders/**
*.fdt
*.nrm
*.log

