<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-horizontal-layout size-full>
   <vaadin-panel size-auto>
    <vaadin-grid icon="fonticon://Vaadin-Icons/e6fa" _id="whosOnline">
     <table>
      <colgroup>
       <col column-id="project" sortable="false">
      </colgroup>
      <thead>
       <tr default>
        <th plain-text column-ids="project">who's online</th>
       </tr>
      </thead>
      <tbody>
       <tr item="project1">
        <td>Sampad</td>
       </tr>
       <tr item="project1">
        <td>Joydev</td>
       </tr>
      </tbody>
     </table>
    </vaadin-grid>
   </vaadin-panel>
   <vaadin-panel size-auto></vaadin-panel>
  </vaadin-horizontal-layout>
 </body>
</html>