<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:true,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:2,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout style-name="wrapping" spacing="false" responsive size-full margin="false">
   <vaadin-horizontal-layout style-name="wrapping" spacing="false" responsive height-full _id="mainLayout">
    <vaadin-panel caption="All Users" style-name="light" responsive width-auto height="405px" _id="p1">
     <vaadin-vertical-layout style-name="wrapping" spacing="false" responsive size-auto margin="false">
      <vaadin-label style-name="primary" width="250px" plain-text _id="userOneButton">
        Joydev 
      </vaadin-label>
      <vaadin-label style-name="primary" width="250px" plain-text _id="userTwoButton">
        Utpal 
      </vaadin-label>
      <vaadin-label style-name="primary" width="250px" plain-text _id="userThreeButton">
        Sampad 
      </vaadin-label>
     </vaadin-vertical-layout>
    </vaadin-panel>
    <vaadin-panel caption="Dashboard" style-name="light" width="920px" height="405px"></vaadin-panel>
   </vaadin-horizontal-layout>
  </vaadin-vertical-layout>
 </body>
</html>