*.class
*.jar
*.classpath
*.project
*.zip
target/
bin/
.settings/
logs/
*.log
.metadata/**
config/certificate/**
.springBeans
style.css
style.css.map
ch-portal/src/main/resources/static/min/**
*.iml
*.eml
*.DS_Store
*.idea
*.zip
*.index
*.xml
*.resources
.metadata\*